$wrapper
  max-width $contentWidth
  margin 0 auto
  padding 2rem 2.5rem
  @media (max-width: $MQNarrow)
    padding 2rem
  @media (max-width: $MQMobileNarrow)
    padding 1.5rem

  span.emphasis
    text-emphasis:filled dot

//$contentWidth ?= 1200px
.theme-default-content:not(.custom)
  max-width 100%

div.content
    max-width 65%
    margin: 0 auto;
    padding: 2rem 2.5rem;

div.content > h2
    text-align: center

div.content > h3
    text-align: center

p
  text-align: justify;
  text-justify: auto;

  dc::first-letter
    line-height: 1;
    font-size: 3em;
    float: left;

  dia
    display: inline-block;
    text-indent: -1em; /* 先頭の1文字のみ 1em 左に */
    padding-left: 1em;
    
