$wrapper
  max-width $contentWidth
  margin 0 auto
  padding 2rem 2.5rem

//  @media (max-width: $MQMobileNarrow)
//  @media (max-width: $MQMobile)
  @media (max-width: 999px)
    margin 0 auto
    padding 1.5rem
    div.content
      margin 0 auto
      max-width 100%;

  @media (min-width: 1000px)
    margin 0 auto
    padding 2rem 2.5rem
    div.content
      margin 0 auto
      max-width 60%;

.theme-default-content:not(.custom)
    margin 0 auto
    max-width 100%;

div
  .content > h2
    margin 0 auto
    text-align: center;
  
  .content > h3
    margin 0 auto
    text-align: center;


p.dc::first-letter{
  line-height: 1;
  font-size: 3em;
  float: left;
}

p.dia{
  text-align: justify;
  text-justify: auto;
  display: inline-block;
  text-indent: -1em;
}

span.emphasis{
  text-emphasis:filled dot;
}

table
  border-collapse collapse
  margin 1rem 0
  display: block
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;